/* Global Styles */

* {
  box-sizing: border-box;

  /* Colors */
  --bg-grey: #DCDCDC;
  --bg-red: #FFDEDE;
  --bg-color: #F3F3F3;
  --text-grey: #AAAAAA;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

body {
  background-color: var(--bg-color);

  width: 100%;
}

strong {
  font-weight: 700;
}

.--hidden {
  display: none !important;
}

/* Header Styles */

header {
  background-color: #fff;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  padding: 0 22px;

  height: 80px;

  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

header nav {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Main Content  */

main {
  width: 100%;
  margin: 106px 0 90px;
}


/* Login Page Section*/

.login-page {
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;

  background-color: #fff;

  margin-top: -50px;

  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.login-page img {
  width: 130px;

  margin-bottom: 94px;

  border: none;
}

.login-page input {
  width: 69.6%;
  height: 54px;

  padding: 6px 12px;
  margin-bottom: 15px;

  font-size: 18px;
  line-height: 25px;
  text-align: center;

  border-radius: 4px;
  border-color: #D7D7D7;
  outline: none;
}

.login-page input::placeholder {
  color: #AEAEAE;
}

.login-page button {
  width: 29.09%;
  height: 45px;

  color: #696969;
  font-size: 18px;

  background-color: #E7E7E7;
  border-radius: 9px;
  border: none;
}

/* Messages Section */

.message {
  background-color: #fff;

  border-radius: 2px;

  padding: 10px 8px;
  margin-bottom: 8px;

  min-height: 40px;
  line-height: 20px;

  display: flex;
  align-items: center;

  overflow-wrap: break-word;
  overflow-x: hidden;
}

.message.--status {
  background-color: var(--bg-grey);
}

.message.--private_message {
  background-color: var(--bg-red);
}

.message .time {
  color: var(--text-grey);
  margin-right: 8px;
}

.message .who {
  margin-right: 8px;
}

/* Sidebar Styles */

.modal {
  z-index: 2;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 100%;
}

.modal__clickable-area {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  width: calc(100vw - 259px);

  background-color: rgba(0, 0, 0, 0.6);
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;

  width: 259px;

  font-size: 16px;

  background-color: #fff;

  overflow-y: scroll;
}

.sidebar__title {
  font-weight: 700;
  text-align: center;

  margin: 35px 0;
  padding: 0 10px;
}

.sidebar__onlineUsers,
.sidebar__visibility {
  font-weight: 400;

  padding: 0 20px;
}

.sidebar__line {
  display: flex;
  align-items: center;

  gap: 10px;

  margin: 15px 0;
}

.sidebar__line span {
  display: flex;
  align-items: center;

  gap: 10px;
}

.sidebar__line span:hover {
  cursor: pointer;
}

.sidebar__onlineUsers .sidebar__icon {
  width: 22px;
}

.sidebar__visibility .sidebar__icon {
  width: 18px;
}

.sidebar__checkmark {
  width: 14px;
}

/* Footer Styles */

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 90px;

  padding: 0 18px;

  background-color: #fff;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

footer .input-description {
  width: 100%;
}

footer .input-description textarea {
  outline: none;
  border: none;
  resize: none;

  padding-top: 10px;
  max-height: 46px;
  width: 100%;

  font-size: 18px;
}

footer .input-description textarea::placeholder {
  color: #000;
  font-style: italic;
}

footer .input-description p {
  font-size: 14px;
  font-weight: 300;

  margin-bottom: 16px;
}

footer button {
  background-color: #fff;

  border: none;
}

/* Screen readers */
.--sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}